{% extends 'main/base.html' %}

{% block title %}
Index sahifa
{% endblock %}

{% block body %}

<div class="container oraliq">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://www.proplan.ru/sites/owners.proplan.ru/files/styles/article350x165/public/2020-03/shutterstock_231364474_2.webp?itok=hqSce8_2" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Бернский зенненхунд</h5>
        <p class="card-text">Разводить эту породу начали не так давно – в начале 20-го века в Швейцарии, в городе Берн. Считается, что своим происхождением бернские зенненхунды, так же, как и все молоссы, обязаны тибетским мастифам.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.proplan.ru/sites/owners.proplan.ru/files/styles/article350x165/public/2021-12/bigl_740_0.webp?itok=BsChh5pL" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Бигль</h5>
        <p class="card-text">Бигль относится к породам собак среднего размера, выведенных для охоты. Согласно классификации FCI порода принадлежит группе гончих маленького размера.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.proplan.ru/sites/owners.proplan.ru/files/styles/article350x165/public/2021-12/zolotistyj-retriver720_0.webp?itok=uOMsIBkK" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Золотистый ретривер</h5>
        <p class="card-text">Если дружелюбие, преданность, смекалка и жизнерадостность — это те качества, которые вы цените в собаке, то вам непременно стоит познакомиться поближе с породой золотистый ретривер.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.proplan.ru/sites/owners.proplan.ru/files/styles/article350x165/public/2020-03/shutterstock_1077430208_2.webp?itok=ETGj1411" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Йоркширский терьер</h5>
        <p class="card-text">Одна из самых популярных карликовых декоративных пород собак.</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container oraliq">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://www.proplan.ru/sites/owners.proplan.ru/files/styles/article350x165/public/2020-03/shutterstock_43289533_2.webp?itok=o9-iuyFK" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Кавалер-кинг-чарльз-спаниель</h5>
        <p class="card-text">Эта порода была названа в честь короля Карла II (можно также транслитерировать как Чарльз II), который жил в 17 веке.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.proplan.ru/sites/owners.proplan.ru/files/styles/article350x165/public/2020-03/kavkazskaya-ovcharka_2.webp?itok=EovHQC8K" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Кавказская овчарка</h5>
        <p class="card-text">Кавказская овчарка, также известная в народе как «кавказский волкодав», относится к крупным собакам, родиной которых является Кавказ. Возраст породы порядка 2–2,5 тысяч лет.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.proplan.ru/sites/owners.proplan.ru/files/styles/article350x165/public/2021-05/%D0%BA%D0%B0%D0%BD%D0%B5-%D0%BA%D0%BE%D1%80%D1%81%D0%BE_720%D1%85340_0.webp?itok=sgqU07pl" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Кане-корсо</h5>
        <p class="card-text">Собаки породы «кане-корсо» – крупные и мощные молоссы. Это одна из итальянских пород собак, заслуженно ставшая настоящей гордостью этой страны. Молоссы — группа пород собак, в которую входят пастушьи собаки, догообразные (потомки боевых и травильных собак) и гуртовые собаки.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.proplan.ru/sites/owners.proplan.ru/files/styles/article350x165/public/2020-03/volkodav_2.webp?itok=mAWg4ZtJ" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Кто такие волкодавы</h5>
        <p class="card-text">Волкодав – это обобщенное название для крепких, крупных пород собак.</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container oraliq">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    <li class="page-item"><a class="page-link" href="{% url 'main' %}">1</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'uchinchi' %}">3</a></li>

  </ul>
</nav>
</div>
{% endblock %}>