{% extends 'main/base.html' %}

{% block title %}
Index sahifa
{% endblock %}

{% block body %}
<div class="container oraliq">
<div class="row row-cols-1 row-cols-md-2 g-4">

   {%for i in new%}
  <div class="col">
    <div class="card">
      <img src="{{i.img.url}}" class="card-img-top" alt="..." style="width:100%">
      <div class="card-body">
        <h5 class="card-title">{{i.itnomi}}</h5>
        <p class="card-text">{{i.coment}}</p>
      </div>
    </div>
  </div>
    {% endfor %}

</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'ikkinchi' %}">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'uchinchi' %}">3</a></li>

  </ul>
</nav>
</div>

{% endblock %}